<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="end">
        <ion-button color="success">
          <ion-icon name="checkmark-Done"></ion-icon>
        </ion-button>
      </ion-buttons>

    <ion-title class="ion-text-center ion-text-capitalize" color="secondary">
      Ejercicio 01
    </ion-title>

    <ion-buttons slot="start">
      <ion-button color="warning">
        <ion-icon name="bulb"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>
