<app-header titulo="Extra"></app-header>

<ion-grid>

  <ion-row>
    <ion-col class="ion-text-center">
    <ion-text color="medium">
    <h4> EXTRA </h4>
    </ion-text>
  </ion-col>
  </ion-row>

  <ion-row ion-align-items-center>
  <ion-col size="5" >
      <ion-button expand="block" fill="solid" color="primary" shape="round" routerLink="/">BACK</ion-button>
  </ion-col>

    <ion-col size="2" ></ion-col>

    <ion-col size="5">
      <ion-menu-toggle menu="primerMenu">
        <ion-button expand="block" fill="outline" color="danger" shape="round">HELP</ion-button>
      </ion-menu-toggle>
    </ion-col>
  </ion-row>




</ion-grid>

